<h2> <%= @post.title %> </h2>
<h3>Author : <%= @post.author.username %> </h3>
URL: <%= @post.url %>
<br>
Content:
<p>
<%= @post.content %>
</p>
<%= link_to "Edit Post", edit_post_url(@post) %> | <%= link_to "Add Comment", new_post_comment_url(@post) %>
<br>
Comments:
<ul>
  <% @all_comments[nil].each do |comment| %>
  <li>
  <%= render "layouts/comments", all_comments: @all_comments, comment: comment%>
</li>
  <% end %>
</ul>

<br>
 <%= button_to "Delete Post", post_url(@post), method: :delete %>
