<h1><%= @band.name %></h1>
<h2>Albums</h2>
<ul>
  <% @band.albums.each do |album| %>
  <li>
    <%= album.name %>
    <%= link_to "view", album_url(album.id) %>
    <%= link_to "edit", album_url(album.id) %>
  </li>
  <% end %>

</ul>
<h2>Links</h2>
<%= link_to "New album", new_band_album_url(@band.id) %> |
<%= link_to "Edit band", edit_band_url %> |
<%= link_to "Delete band", band_url %> |
<%= link_to "All bands", bands_url %>
